/* Styling for the typeahead */
.typeahead_wrapper { 
    display: block;
    height: 30px;
}

.typeahead_labels {
    float: left;
    height: 30px;
}

.typeahead_primary { 
    font-weight: bold;
}

.typeahead_secondary {
    font-size: .8em;
    margin-top: -5px; 
}

.mover-heading {
  /*     color: SlateBlue;*/
 color: SteelBlue; 
 }
