    <div class="alert alert-error row-fluid">
      <p class="lead">[% travel_time_heading  || 'Get Thee hence!' %]</p>
    </div>
    [%# One way to loop through a hash %]
    [% FOREACH error_msg_pair IN error_messages.pairs %]
         <div class="row-fluid alert">
            <div class="span2">
                [% error_msg_pair.key %]
            </div>
            <div class="span4">
                [% error_msg_pair.value  %]
            </div>
         </div>
     [% END %]
